#time-tracker-time-entry-form .form-item-username,
#time-tracker-time-entry-form #edit-time-wrapper,
#time-tracker-time-entry-form .form-item-duration,
#time-tracker-time-entry-form .form-item-activity,
#time-tracker-time-entry-form #edit-deductions-wrapper {
  float: none !important;
  clear: left !important;
}
